USE [master]
GO

/****** Objeto: Database [Categoria] ******/
CREATE DATABASE [Categoria]
GO

/****** Objeto: Login [UserLibroDBA] (Valida si existe antes de crearlo) ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'UserLibroDBA')
BEGIN
    CREATE LOGIN [UserLibroDBA]
    WITH PASSWORD = 'UserLibroDBA',
    CHECK_POLICY = OFF,
    CHECK_EXPIRATION = OFF
END
GO

USE [Categoria]
GO

/****** Objeto: User [UserLibroDBA] y PERMISOS ******/
CREATE USER [UserLibroDBA] FOR LOGIN [UserLibroDBA] WITH DEFAULT_SCHEMA=[dbo]
GO

-- Otorgar permisos totales a UserLibroDBA
ALTER ROLE [db_owner] ADD MEMBER [UserLibroDBA]
GO

/****** Objeto: User [curso4a] (Para evitar el error de tu API) ******/
-- Validamos si el login curso4a existe en el servidor, y si es así, le damos permisos aquí también
IF EXISTS (SELECT * FROM sys.server_principals WHERE name = N'curso4a') 
   AND NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'curso4a')
BEGIN
    CREATE USER [curso4a] FOR LOGIN [curso4a]
    ALTER ROLE [db_owner] ADD MEMBER [curso4a]
END
GO

/****** Objeto: Table [dbo].[Categoria] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'string', N'esefsefsefsefstring', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'string', N'aaAAaAaAaA', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (4, N'string', N'string', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO

USE [master]
GO