USE [master]
GO

/****** Objeto: Database [Vehiculo] ******/
CREATE DATABASE [Vehiculo]
GO

/****** Objeto: Login [curso4a] (Valida si existe antes de crearlo) ******/
IF NOT EXISTS (SELECT * FROM sys.server_principals WHERE name = N'curso4a')
BEGIN
    CREATE LOGIN [curso4a]
    WITH PASSWORD = 'curso4a',
    CHECK_POLICY = OFF,
    CHECK_EXPIRATION = OFF
END
GO

USE [Vehiculo]
GO

/****** Objeto: User [curso4a] y PERMISOS ******/
CREATE USER [curso4a] FOR LOGIN [curso4a] WITH DEFAULT_SCHEMA=[dbo]
GO

-- Esta es la línea clave que faltaba para dar permisos de lectura/escritura
ALTER ROLE [db_owner] ADD MEMBER [curso4a]
GO

/****** Objeto: Table [dbo].[Vehiculo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NULL,
	[Marca] [varchar](100) NULL,
	[Modelo] [varchar](100) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Stock] [int] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Vehiculo] ON 
GO
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (1, 13, N'Generado Automáticamente', N'N/A', CAST(0.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (2, 14, N'Generado Automáticamente', N'N/A', CAST(0.00 AS Decimal(10, 2)), 1, 1)
INSERT [dbo].[Vehiculo] ([IdVehiculo], [IdCategoria], [Marca], [Modelo], [Precio], [Stock], [Estado]) VALUES (3, 17, N'Generado Automáticamente', N'N/A', CAST(0.00 AS Decimal(10, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
GO

USE [master]
GO